SCW_ACCESS_KEY=
SCW_SECRET_KEY=
SCW_DEFAULT_ORGANIZATION_ID=
SCW_DEFAULT_PROJECT_ID=
MONGO_SECRET_KEY=
MONGO_CONNECTION_STRING=
MONGO_PLATFORM_DATABASE_NAME=
FOUNDRY_RESOURCE=
FOUNDRY_API_KEY=
LINKUP_API_KEY=
